* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  width: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.card {
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
}

.header-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.card p {
  font-size: 20px;
}

.flex {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 1rem;
}

.heading {
  width: 100%;
  font-size: 1.4rem;
  font-weight: bold;
}

.skeleton {
  opacity: 0.7;
  animation: skeleton-animation 1s linear infinite alternate;
}

.skeleton-text {
  width: 100%;
  height: 0.8em;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.skeleton-text:last-child {
  margin-bottom: 0;
  width: 85%;
}

.skeleton-text-lg {
  height: 1em;
}

#card-template {
  display: none;
}

@keyframes skeleton-animation {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
